body {
    display: flex;
    flex-direction: column;
}

.header-container {
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.header-item-top {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    column-gap: 16px;
}

.header-logo img {
    border-radius: 50%;
    height: auto;
    width: 40px;
    border: 3px solid gray;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 20px;
}

.header-item-bottom {
    display: flex;
}

.header-item-content1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.header-item-content2 {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    background-color: #3882F6;
    color: white;
    box-shadow: inset 2px 2px 4px black;
    border-radius: 10px;
    width: 90px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
}

.header-item-right img {
    height: auto;
    width: 180px;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    color: orangered;
}

.tech-services {
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.tech-info {
    font-size: 36px;
    font-weight: 800;
    color: #1F3927;
    margin-bottom: 16px;
}

.tech-images {
    display: flex;
    column-gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

.tech-images-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tech-images-item img{
    height: 200px;
    width: 180px;
    border-radius: 10px;
}

.tech-images-item .tech-description {
    height: auto;
    width: 180px;
}



.wisdom {
    background-color: #E5E7EB;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.wisdom-item1 {
    font-size: 36px;
    color: #1F2937;
}

.wisdom-item2 {
    margin-top: 16px;
    text-align: right;
}

.invite {
    display: flex;
    background-color: #3882F6;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 5px;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
    min-width: 250px;
}

.invite-item {
    margin-right: 80px;
}

.invite-item-content1 {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.invite-item-content2 {
    color: white;
}

.footer {
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

